.logo-container {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.05);
    background-color: #F0F7FD;
    min-height: 56px;
    margin-top: -72px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 12px;
    bottom: 6px;
}

.links-box {
    a, span {
        color: #097eb4;
        font-size: 18px;
        margin-right: 4px;
        margin-left: 4px;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}