<mat-card class="user-details-header">
    <!----------- HEADER ------------>
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="headerMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="editUserName()">Edit</button>
    </mat-menu>

    <img *ngIf="femaleImg" src="assets/img/profile-woman.png">
    <img *ngIf="maleImg" src="assets/img/profile-man.png">
    <img *ngIf="profileImg" src="assets/img/profile.png">
    <div class="user-details">
        <div class="d-flex">
            <h2 #nameCopy>{{ user.firstName }} {{ user.lastName }}</h2>
            <mat-icon class="copy-icon" (click)="copyToClipboard(nameCopy)" title="Copy Name" (click)="showCopyBar()">
                content_copy</mat-icon>
        </div>
        <div class="d-flex">
            <a href="mailto: {{ user.email }} ">
                <mat-icon class="contact-icon" matTooltipClass="example-tooltip-red" matTooltip="Write E-Mail">mail</mat-icon>
            </a>
            <span #emailCopy>{{ user.email }}</span>
            <mat-icon class="copy-icon" (click)="copyToClipboard(emailCopy)" title="Copy E-Mail"
                (click)="showCopyBar()">content_copy</mat-icon>
        </div>
        <div class="d-flex margin-10">
            <a href="tel: {{ user.telephone }} ">
                <mat-icon class="contact-icon" matTooltipClass="example-tooltip-red" matTooltip="Call user">phone</mat-icon>
            </a>
            <span #phoneCopy>{{ user.telephone }}</span>
            <mat-icon class="copy-icon" (click)="copyToClipboard(phoneCopy)" title="Copy Telephone"
                (click)="showCopyBar()">content_copy</mat-icon>
        </div>
    </div>
</mat-card>

<!----------- ADDRESS ------------>
<mat-card class="margin-top-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editAddress()">Edit</button>
    </mat-menu>

    <div style="display: flex">
        <mat-card-title>Address</mat-card-title>
        <mat-icon class="copy-icon" (click)="copyToClipboard(copyAddress)" title="Copy Address" (click)="showCopyBar()">
            content_copy</mat-icon>
    </div>
    <br>

    <mat-card-content>
        <span>{{ user.street }}</span> <br>
        <span>{{ user.zipCode }} {{ user.city }}</span> <br>
        <span>{{ user.country }}</span>
        <span #copyAddress style="display: none"> {{ user.street }}, {{ user.zipCode }} {{ user.city }}, {{ user.country
            }} </span>
    </mat-card-content>
</mat-card>

<!----------- PERSONAL INFORMATION ------------>
<mat-card class="margin-top-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="personalMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #personalMenu="matMenu">
        <button mat-menu-item (click)="editPersonal()">Edit</button>
    </mat-menu>

    <div style="display: flex">
        <mat-card-title>Personal Information</mat-card-title>
    </div>
    <br>

    <mat-card-content>
        <span> <b> Gender: </b> {{ user.gender }}</span> <br>
        <span> <b> Birth Date: </b> {{ user.birthDate | date: "dd/MM/yyyy" }}</span>
    </mat-card-content>
</mat-card>

<div class="delete-btn-box">
    <button mat-fab color="primary" matTooltipClass="example-tooltip-red" matTooltip="Delete user">
        <mat-icon (click)="openDeleteValidation()">delete</mat-icon>
    </button>
</div>