<mat-card class="user-details-header">
    <button mat-icon-button class="pin-right-upper-corner"
        [matMenuTriggerFor]="headerMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="editUserName()">Edit</button>
        <button mat-menu-item>Copy</button>
    </mat-menu>

    <img src="assets/img/profile-woman.png" alt="">
    <div class="user-details">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <span>{{ user.email }}</span>
    </div>
</mat-card>

<mat-card class="margin-top-32">
    <button mat-icon-button class="pin-right-upper-corner"
        [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editAddress()">Edit</button>
        <button mat-menu-item>Copy</button>
    </mat-menu>

    <mat-card-title>Address</mat-card-title> <br>

    <mat-card-content>
        <span>{{ user.street }}</span> <br>
        <span>{{ user.zipCode }} {{ user.city }}</span> <br>
        <span>{{ user.country }}</span>
    </mat-card-content>
</mat-card>