.dialog-container {
    width: 70vw;
    position: relative;

    .progress-bar-add-box {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }

    mat-dialog-content {
        width: 100%;
    }

    .form-box {
        display: flex;
        justify-content: space-between;
    }

    .name-form-field {
        width: 34vw;
    }

    .address-form-field {
        width: 22vw;

        select {
            width: 100%;
            border: 1px solid white;

            &:focus {
                border: 1px solid white;
            }
        }
    }
}

.example-radio-group {
    display: flex;
    margin: 4px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin-right: 16px;

    &:first-child {
        margin-left: 12px;
    }

    &:last-child {
        margin-right: 0;
    }
  }

  form {
    label {
    margin-left: -22px;
    margin-right: 22px;
  }
}

.btn-box {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    .dialog-container {
        overflow-x: hidden;
    }

    .form-box {
        flex-direction: column;

        .name-form-field, .address-form-field {
            width: 100%;
        }
    }

    .form-column {
        display: flex;
        flex-direction: column;
    }

    .example-radio-button {
        margin-bottom: 8px;
        margin-left: 12px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 500px) {
    ::ng-deep .mat-datepicker-content .mat-calendar {
        width: 200px !important;
        height: 280px !important;
    }

    ::ng-deep .mat-select-panel {
        max-width: 170px;
    }
}