.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -24px;
    width: calc(100% + 48px);
}