.dialog-container {
    position: relative;

    .progress-bar-edit-box {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}

@media (max-width: 600px) {
    .name-field {
        width: 100%;
    }
}