.dialog-container {
    position: relative;

    .progress-bar-edit-box {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }

    .mat-dialog-content {
        overflow: unset;
    }

    select {
        width: 100%;
        border: 1px solid white;

        &:focus {
            border: 1px solid white;
        }
    }
}

@media (max-width: 600px) {
    .field-width {
        width: 100%;
    }

    ::ng-deep .mat-select-panel-wrap {
        max-width: 170px;
    }
}