.dialog-container {
    width: 70vw;
    position: relative;

    .progress-bar-add-box {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }

    mat-dialog-content {
        width: 100%;
    }

    .form-box {
        display: flex;
        justify-content: space-between;
    }

    .name-form-field {
        width: 34vw;
    }

    .address-form-field {
        width: 22vw;

        select {
            width: 100%;
            border: 1px solid white;

            &:focus {
                border: 1px solid white;
            }
        }
    }
}

.example-radio-group {
    display: flex;
    margin: 4px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin-right: 16px;

    &:first-child {
        margin-left: 12px;
    }

    &:last-child {
        margin-right: 0;
    }
  }

  form {
    label {
    margin-left: -22px;
    margin-right: 22px;
  }
}