<div class="task-container">
    <div class="task-header">
        <mat-icon>push_pin</mat-icon>
        <mat-card>
            <h1>Task Board</h1>
        </mat-card>
        <mat-icon>push_pin</mat-icon>
    </div>

    <div class="task-board">
        <div class="pos-relativ" *ngFor="let task of allTasks" [routerLink]="['/task/' + task.taskID]">
            <mat-icon>push_pin</mat-icon>
            <mat-card class="task-card" [style.background-color]="getCardColor(task.priority)">
                <h2> {{ task.title }}</h2> 
                <span> <b> Department: </b> {{ task.department }}</span> <br>
                <span> <b> Type: </b> {{ task.type }}</span> <br>
                <span> <b> Deadline: </b> {{ task.deadlineDate | date: "dd/MM/yyyy" }}</span>
            </mat-card>
        </div>
    </div>
</div>