<div class="dialog-container">
    <mat-progress-bar class="progress-bar-edit-box" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <h1 mat-dialog-title>Edit Personal Information</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Gender</mat-label>
                <input [(ngModel)]="user.gender" matInput class="hidden">
                <mat-radio-group class="example-radio-group" [(ngModel)]="user.gender" (change)="onChange($event)"
                    appearance="outline" class="full-width">
                    <mat-radio-button color="primary" class="example-radio-button" value="Male"> Male
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="example-radio-button" value="Female"> Female
                    </mat-radio-button>
                    <mat-radio-button color="primary" class="example-radio-button" value="Diverse"> Diverse
                    </mat-radio-button>
                </mat-radio-group>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>{{ user.birthDate | date: "dd/MM/yyyy" }}</mat-label>
                <input [disabled]="loading" [(ngModel)]="updateBirthDate" matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

    </div>
</div>

<div mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
</div>