.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/../assets/img/network.jpg');
    background-size: cover;
    margin-top: -16px;
    margin-left: -56px;
    width: calc(100% + 112px);
    height: calc(100vh - 56px);
}

.form-flex {
    display: flex;
}

mat-card {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 60vw;
}

.left-form {
    width: 30vw;
    margin-right: 12px;
}

.right-form {
    width: 30vw;
    margin-left: 12px;
}

.form-box {
    display: flex;
    flex-direction: column;

    .title-input {
        height: 36px;
    }

    textarea {
        height: 176px;
    }
}

.date-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    mat-form-field {
        &:first-child {
            width: 14vw;
        }
    
        &:last-child {
            width: 14vw;
        }
    }

    mat-hint {
        color: red;
    }
}

.example-radio-group {
    display: flex;
    margin: 4px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin-right: 24px;

    &:first-child {
        margin-left: 12px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.btn-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dep-width {
    width: 214px;
}