<mat-sidenav-container class="mat-draw-container" autosize>
    <mat-sidenav #sidenav class="sidenav" [opened]="openSidenav" [mode]="mode" [class.d-none]="homePage">
        <div class="logo-container">
            <img class="logo-img" src="assets/img/logo.png">

        </div>

        <ul class="menu-items">
            <a href="/dashboard">
            <li>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </li>
            </a>
            <a href="/user">
                <li>
                    <mat-icon matBadge="{{ userLength }}" matBadgeColor="primary">person</mat-icon>
                    <span>User</span>
                </li>
            </a>
            <a href="/task">
                <li>
                    <mat-icon matBadge="{{ taskLength }}" matBadgeColor="primary">edit_document</mat-icon>
                    <span>Task</span>
                </li>
            </a>
            <a href="/help">
                <li>
                    <mat-icon>help</mat-icon>
                    <span>Help</span>
                </li>
            </a>

            <li class="close-btn">
                <button mat-raised-button color="primary" (click)="sidenav.toggle()">Close</button>
            </li>
        </ul>

        <a href="/home">
            <div class="logout-box">
                <span>Logout</span>
                <mat-icon>logout</mat-icon>
            </div>
        </a>
    </mat-sidenav>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary" [class.d-none]="homePage">
            <mat-toolbar-row>
                <mat-icon class="menu-icon" (click)="sidenav.toggle()">menu</mat-icon>
                <span>Simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div [class.router-container]="!homePage">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>