.mat-draw-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    margin-right: 12px;
}

.sidenav {
    width: 250px;
}

.logo-container {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 100%;
    height: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 12px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            color: #747070;
            font-weight: 500;
        }

        mat-icon {
            margin-right: 16px;
            padding-right: 4px;
            color: #b7b2b2;
        }

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.05);
        }
    }

}


.logout-box {
    padding: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 32px;
    left: 50px;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

    span {
        font-size: 24px;
        font-weight: 600;
        margin-right: 8px;
        color: #be2a2a;
    }

    mat-icon {
        color: #be2a2a;
        font-size: 28px;
        height: 28px;
        width: 28px;
    }
}

.close-btn {
    justify-content: center;
    visibility: hidden;
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}

@media (max-width: 1050px) {
    .close-btn {
        visibility: visible;
    }
}