<div class="dialog-container">
    <mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <h1 mat-dialog-title>Edit Task</h1>
    <div mat-dialog-content class="form-flex">
        <div class="left-form">

            <div class="form-box">
                <mat-form-field class="name-form-field" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input [(ngModel)]="task.title" matInput [formControl]="title" required autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="outline" class="name-form-field">
                    <mat-label>Description</mat-label>
                    <textarea [(ngModel)]="task.description" matInput [formControl]="description" required
                        autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="right-form">
            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Priority</mat-label>
                    <input [(ngModel)]="task.priority" matInput class="hidden">
                    <mat-radio-group class="example-radio-group" [(ngModel)]="task.priority" (change)="onChange($event)"
                        appearance="outline" class="full-width">
                        <mat-radio-button color="primary" class="example-radio-button" value="Low"> Low
                        </mat-radio-button>
                        <mat-radio-button color="primary" class="example-radio-button" value="Middle"> Middle
                        </mat-radio-button>
                        <mat-radio-button color="primary" class="example-radio-button" value="High"> High
                        </mat-radio-button>
                    </mat-radio-group>
                </mat-form-field>
            </div>

            <div class="d-flex date-container">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ task.startDate | date: "dd/MM/yyyy" }}</mat-label>
                    <input [disabled]="loading" [(ngModel)]="updateStartDate" matInput [matDatepicker]="picker1"
                        autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ task.deadlineDate | date: "dd/MM/yyyy" }}</mat-label>
                    <input [disabled]="loading" [(ngModel)]="updateDeadlineDate" matInput [matDatepicker]="picker2"
                        autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Type</mat-label>
                    <input [disabled]="loading" [(ngModel)]="task.type" matInput autocomplete="off">
                </mat-form-field>
            </div>

            <div class="department-user">
                <div class="full-width">
                    <mat-form-field appearance="outline" class="dep-width">
                        <mat-label>Department</mat-label>
                        <mat-select class="example-radio-group" [(ngModel)]="task.department" [formControl]="department"
                            required (change)="selectionChange(value)" appearance="outline" class="full-width">
                            <mat-option color="primary" class="example-radio-button" value="Front-End"> Front-End
                            </mat-option>
                            <mat-option color="primary" class="example-radio-button" value="Back-End"> Back-End
                            </mat-option>
                            <mat-option color="primary" class="example-radio-button" value="Design"> Design
                            </mat-option>
                            <mat-option color="primary" class="example-radio-button" value="Finance"> Finance
                            </mat-option>
                            <mat-option color="primary" class="example-radio-button" value="Marketing"> Marketing
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="name-form-field dep-width" appearance="outline">
                        <mat-label>Add Employee</mat-label>
                        <input [disabled]="loading" [(ngModel)]="task.employee" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="d-flex">
        <button [disabled]="loading" type="submit" mat-button cdkFocusInitial (click)="saveTask()">Save</button>
    </div>
</div>