.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-flex {
    display: flex;
}

.left-form {
    width: 30vw;
    margin-right: 12px;
}

.right-form {
    width: 30vw;
    margin-left: 12px;
}

mat-card {
    margin-bottom: 12px;
}

.form-box {
    display: flex;
    flex-direction: column;

    textarea {
        height: 194px;
    }
}

.date-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    mat-form-field {
        &:first-child {
            width: 14vw;
        }
    
        &:last-child {
            width: 14vw;
        }
    }

    mat-hint {
        color: red;
    }
}

.example-radio-group {
    display: flex;
    margin: 4px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin-right: 24px;

    &:first-child {
        margin-left: 12px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: -24px;
    width: calc(100% + 48px);
}