<div class="start-container">
    <div class="logo-container">
        <img class="logo-img" src="assets/img/logo-blue.png" routerLink="/home">

        <div class="login-box" (click)="openLoginDialog()">
            <span>Login</span>
            <mat-icon>login</mat-icon>
        </div>
    </div>

    <div class="header-box">
        <h1>Impressum</h1>
        <br>
        <br>
        <p>Anastasiia Ünal<br />
            Schützenstraße 62<br />
            40723 Hilden</p>
        <br>
        <br>
        <h4><b> Kontakt: </b></h4>
        <p>Telefon: 0175773617537<br />
            E-Mail: velika908@gmail.com</p>
        <br>
        <br>
        <br>
        Created my free logo at <a href="https://logomakr.com" target="_blank">LogoMakr.com</a>
    </div>
</div>

<app-footer></app-footer>