.task-container {
    background-image: url('/../assets/img/taskboard.jpg');
    min-height: calc(50vh - 70px);
    margin-left: -56px;
    width: calc(100% + 112px);
    border-top: 5px solid aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-height: 800px) {
        min-height: calc(50vh - 74px);
    }

    .task-header {
        margin-top: 20px;
        margin-bottom: 10px;
        position: relative;

        mat-icon {
            position: absolute;
            z-index: 1;
            top: -12px;
            font-size: 30px;
            color: #be2a2a;

            &:first-child {
                transform: rotate(-24deg);
            }

            &:last-child {
                right: 4px;
                transform: rotate(24deg);
            }
        }

        h1 {
            width: max-content;
            margin: 0;
            font-size: 32px;
            font-weight: 600;
        }
    }
}

.task-board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    mat-icon {
        position: absolute;
        top: 12px;
        left: 120px;
        z-index: 1;
        font-size: 30px;
        color: #be2a2a;
    }
}

.task-card {
    margin: 24px;
    width: 200px;

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

    h2 {
        font-weight: 600;
    }
}

.noTask-box {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-top: 32px;
}

@media (max-width: 350px) {
    .task-card {
        margin: 14px;
    }
}