<div class="description-container">
    <div class="info-box">
        <div class="card-descriptions">
            <mat-card>
                <span>Add various tasks</span> <br>
                <span>Keep track of your tasks <br> & <br> the tasks of different departments</span>
            </mat-card>

            <mat-card>
                <span>Save users</span> <br>
                <span>Save users with contact informations, address <br> & <br> personal data </span>
            </mat-card>

            <mat-card>
                <span>Manage your work</span> <br>
                <span>You can always quickly <br> & <br> easy access all informations</span>
            </mat-card>
        </div>

        <div class="btn-box" (click)="openLoginDialog()">
            <button color="success" mat-raised-button>Try it out</button>
        </div>
    </div>
</div>