.description-container {
    height: 100vh;
    width: calc(100vw - 15px);
    position: relative;
    margin-top: 56px;
}

.info-box {
    position: absolute;
    top: 40vh;
    width: calc(100vw - 15px);
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-descriptions {
    display: flex;
    justify-content: space-around;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #097eb442;
    color: #097eb4;
    text-align: center;
    font-weight: 600;
    max-width: 290px;
    width: 290px;

    span {
        &:first-child {
            font-size: 28px;
        }
    }
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;

    button {
        font-size: 46px;
        padding: 12px;
    }
}

.mat-success {
    background-color: #673AB7;
    color: #fff;

    &:hover {
        background-color: #b71c1c;
    }
}


.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}