<div class="dialog-container">
    <mat-card>
        <h1 mat-dialog-title> <b> Task-ID: </b> {{ task.id }}</h1>
        <div mat-dialog-content class="form-flex">
            <div class="left-form">
                <div class="form-box">
                    <mat-form-field class="name-form-field" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input class="title-input" [(ngModel)]="task.title" matInput readonly>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="name-form-field">
                        <mat-label>Description</mat-label>
                        <textarea [(ngModel)]="task.description" matInput readonly></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="right-form">
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Priority</mat-label>
                        <input [(ngModel)]="task.priority" matInput class="hidden">
                        <mat-radio-group class="example-radio-group" [(ngModel)]="task.priority" appearance="outline"
                            class="full-width" [disabled]="!editable">
                            <mat-radio-button color="primary" class="example-radio-button" value="Low"> Low
                            </mat-radio-button>
                            <mat-radio-button color="primary" class="example-radio-button" value="Middle"> Middle
                            </mat-radio-button>
                            <mat-radio-button color="primary" class="example-radio-button" value="High"> High
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-form-field>
                </div>

                <div class="d-flex date-container">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Startdate</mat-label>
                        <input matInput readonly [value]="task.startDate | date:'dd/MM/yyyy'">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Deadline</mat-label>
                        <input matInput readonly [value]="task.deadlineDate | date:'dd/MM/yyyy'">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Type</mat-label>
                        <input [(ngModel)]="task.type" matInput readonly>
                    </mat-form-field>
                </div>

                <div class="department-user">
                    <div class="full-width">
                        <mat-form-field appearance="outline" class="dep-width">
                            <mat-label>Department</mat-label>
                            <mat-select class="example-radio-group" [(ngModel)]="task.department" appearance="outline"
                                class="full-width" [disabled]="!editable">
                                <mat-option color="primary" class="example-radio-button" value="Front-End"> Front-End
                                </mat-option>
                                <mat-option color="primary" class="example-radio-button" value="Back-End"> Back-End
                                </mat-option>
                                <mat-option color="primary" class="example-radio-button" value="Design"> Design
                                </mat-option>
                                <mat-option color="primary" class="example-radio-button" value="Finance"> Finance
                                </mat-option>
                                <mat-option color="primary" class="example-radio-button" value="Marketing"> Marketing
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="name-form-field dep-width" appearance="outline">
                            <mat-label>Employee</mat-label>
                            <input [(ngModel)]="task.employee" matInput readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div mat-dialog-actions class="btn-box">
            <button type="submit" mat-button cdkFocusInitial>Delete Task</button>
            <button type="submit" mat-button cdkFocusInitial (click)="editTask()">Edit
                Task</button>
        </div>
    </mat-card>
</div>