.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.form-flex {
    display: flex;
}

.left-form {
    width: 30vw;
    margin-right: 12px;
}

.right-form {
    width: 30vw;
    margin-left: 12px;
}

mat-card {
    margin-top: 60px;
    margin-bottom: 12px;
}

.form-box {
    display: flex;
    flex-direction: column;

    textarea {
        height: 194px;
    }
}

.date-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    mat-form-field {
        &:first-child {
            width: 14vw;
        }
    
        &:last-child {
            width: 14vw;
        }
    }

    mat-hint {
        color: red;
    }
}

.example-radio-group {
    display: flex;
    margin: 4px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin-right: 24px;

    &:first-child {
        margin-left: 12px;
    }

    &:last-child {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    mat-card {
        width: 100%;
    }

    .left-form {
        width: 35vw;
        margin-right: -6px;
    }
    
    .right-form {
        width: 50vw;
        margin-left: 12px;
    }

    .date-container {
        mat-form-field {
            &:first-child {
                width: 24vw;
            }
        
            &:last-child {
                width: 24vw;
            }
        }
    }

    .form-margin {
        margin-right: 6px;
    }
}

@media (max-width: 620px) {
    mat-card {
        margin-top: 12px;
    }

    .form-flex {
        flex-direction: column;
    }

    .left-form, .right-form {
        width: 100%;
        margin-left: 0;
    }

    .date-container {
        flex-direction: column;
        width: 100%;

        mat-form-field {
            &:first-child {
                width: 100%;
            }
        
            &:last-child {
                width: 100%;
            }
        }
    }

    .form-box textarea {
        height: 80px;
    }

    ::ng-deep .mat-datepicker-content .mat-calendar {
        width: 200px !important;
        height: 280px !important;
    }
}

@media (max-width: 350px) {
    .form-column {
        display: flex;
        flex-direction: column;
    }

    .example-radio-button {
        margin-bottom: 8px;
        margin-left: 12px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

