<mat-card>
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>

        <tr>
            <td>Anastasiia</td>
            <td>velika@gmail.com</td>
            <td>Hilden</td>
        </tr>

        <tr>
            <td>Anastasiia</td>
            <td>velika@gmail.com</td>
            <td>Hilden</td>
        </tr>
    </table>
</mat-card>

<div class="add-user-btn">
    <button (click)="openDialog()" mat-fab color="primary" matTooltipClass="example-tooltip-red" matTooltip="Add user">
        <mat-icon>add</mat-icon>
    </button>
</div>