<mat-card>
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>

        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.userID]" matTooltipClass="example-tooltip-red" matTooltip="Show more">
            <td>{{ user.user.firstName }}</td>
            <td>{{ user.user.email }}</td>
            <td>{{ user.user.city }}</td>
        </tr>
    </table>
</mat-card>

<div class="add-user-btn">
    <button (click)="openDialog()" mat-fab color="primary" matTooltipClass="example-tooltip-red" matTooltip="Add user">
        <mat-icon>add</mat-icon>
    </button>
</div>