.dialog-container {
    position: relative;

    .progress-bar-edit-box {
        position: absolute;
        left: -24px;
        right: -24px;
        top: -24px;
        width: calc(100% + 48px);
    }
}

mat-form-field {
    width: 300px;

    mat-radio-button {
        margin-right: 24px;
    }
}

@media (max-width: 600px) {
    .form-column {
        display: flex;
        flex-direction: column;
    }

    .example-radio-button {
        margin-bottom: 8px;
        margin-left: 12px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 500px) {
    ::ng-deep .mat-datepicker-content .mat-calendar {
        width: 200px !important;
        height: 280px !important;
    }

    mat-form-field {
        width: 220px;
    }
}

@media (max-width: 350px) {
    mat-form-field {
        width: 180px;
    }
}