.user-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 16px;
    position: relative;
}

.add-user-btn {
    position: absolute;
    right: 26px;
    bottom: 26px;
}

.example-tooltip-red {
    background: #b71c1c;
}

mat-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.04);
        }

        td {
            height: 48px;
            width: 30vw;
            max-width: 30vw;
            margin-right: 4px;
            overflow-x: hidden;
            vertical-align: middle;

            &:hover {
                overflow-x: auto;
            }

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
            }
        }
    
    }

    th {
        color: rgba($color: #000000, $alpha: 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}
.search-box {
    width: 100%;
    padding: 14px;
    border: none;

    &:focus {
        outline: none;
    }
}

*::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 6px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.486);
    border: 1px solid #00000059;
    border-radius: 24px;
}