<mat-card class="user-card">
    <mat-table [dataSource]="this.dataSource" #table>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/user/' + user.id]"> {{ user.firstName }} {{ user.lastName }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-Mail </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/user/' + user.id]"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let user" [routerLink]="['/user/' + user.id]"> {{user.country}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Country</th>
        </tr>

        <tr>
            <input type="text" class="search-box" placeholder="Search..." [(ngModel)]="filterTerm" />
        </tr>
        <tr *ngFor="let user of allUsers | filter: filterTerm" [routerLink]="['/user/' + user.userID]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.country }}</td>
        </tr> -->
    </mat-table>

    <mat-paginator [pageSizeOptions]="[4, 6, 8]" showFirstLastButtons>
    </mat-paginator>
</mat-card>

<div class="add-user-btn">
    <button (click)="openDialog()" mat-fab color="primary" matTooltipClass="example-tooltip-red" matTooltip="Add user">
        <mat-icon>add</mat-icon>
    </button>
</div>