<div class="dialog-container">
    <mat-progress-bar class="progress-bar-edit-box" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="margin-right-16" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="user.firstName" matInput [formControl]="firstName" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="user.lastName" matInput [formControl]="lastName" autocomplete="off">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>E-Mail</mat-label>
                <input [(ngModel)]="user.email" matInput [formControl]="email" required autocomplete="off">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Telephone</mat-label>
                <input [(ngModel)]="user.telephone" matInput [formControl]="telephone" required autocomplete="off">
            </mat-form-field>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="loading || !firstName.valid || !lastName.valid || !email.valid" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
</div>