.dashboard-container {
    display: flex;
    flex-direction: column;
}
.contact-box {
    margin-top: 32px;

    h2 {
        margin-bottom: 0px;
    }

    .number {
        color: rgb(192 28 28);
        font-size: 22px;
        margin-left: 4px;
        margin-right: 4px;
    }
}