<div class="plant-bg">
    <mat-card class="demo-inline-calendar-card calendar-size">
        <mat-calendar [(selected)]="currentDate"></mat-calendar>
    </mat-card>

    <div class="time-box">
        <div class="clock-container">
            <mat-icon>schedule</mat-icon>
            <h1> {{ berlinTime | date: 'HH:mm:ss' }} </h1>
            <mat-icon class="margin-left-24">explore</mat-icon>
            <h1>Berlin, Germany</h1>
        </div>

        <div class="clock-container">
            <mat-icon>schedule</mat-icon>
            <h1> {{ nyTime | date: 'HH:mm:ss' }} </h1>
            <mat-icon class="margin-left-24">explore</mat-icon>
            <h1>New York, USA</h1>
        </div>

        <div class="clock-container">
            <mat-icon>schedule</mat-icon>
            <h1> {{ londonTime | date: 'HH:mm:ss' }} </h1>
            <mat-icon class="margin-left-24">explore</mat-icon>
            <h1>London, England</h1>
        </div>

        <div class="clock-container">
            <mat-icon>schedule</mat-icon>
            <h1> {{ tokyoTime | date: 'HH:mm:ss' }} </h1>
            <mat-icon class="margin-left-24">explore</mat-icon>
            <h1>Tokyo, Japan</h1>
        </div>

        <div class="clock-container">
            <mat-icon>schedule</mat-icon>
            <h1> {{ dubaiTime | date: 'HH:mm:ss' }} </h1>
            <mat-icon class="margin-left-24">explore</mat-icon>
            <h1>Dubai, UAE</h1>
        </div>
    </div>
</div>