<div class="dashboard-container">
    <div>
        <app-time-board></app-time-board>
    </div>

    <div class="user-box">
        <button mat-raised-button color="primary" routerLink="/user">
            <mat-icon>cloud_done</mat-icon>
            <span class="number"><b> {{ userLength }} </b></span> <span class="activeUser"> Active Users in list</span>
        </button>
    </div>

    <div class="user-box">
        <button mat-raised-button color="primary" routerLink="/user">
            <mat-icon>cloud_done</mat-icon>
            <span class="number"><b> {{ userLength }} </b></span> <span class="activeUser"> Tasks in progress</span>
        </button>
    </div>

    <div class="user-box">
        <button mat-raised-button color="primary" routerLink="/user">
            <mat-icon>cloud_done</mat-icon>
            <span class="number"><b> 0 </b></span> <span class="activeUser"> Projects in work</span>
        </button>
    </div>
</div>