.dashboard-container {
    display: flex;
    flex-direction: column;
}

.summary-box {
    display: flex;
    justify-content: center;
    margin-left: -108px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.task-box, .user-box {
    .number {
        font-size: 36px;
        color: #be2a2a;
        margin-left: 4px;
        margin-right: 4px;
    }

    button {
        padding: 8px;
        width: 250px;
        text-align: start;
    }

    .activeUser {
        font-size: 16px;
    }

    mat-icon {
        font-size: 36px;
        width: 36px;
        height: 36px;
    }
}

.ml-56 {
    margin-left: 56px;
}

.mr-56 {
    margin-right: 56px;
}